* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
}

.header {
    background-color: #feda59;
    display: flex;
    color: rgb(31, 31, 31);
    align-items: center;
    padding: 12px 150px;
    gap: 24px;
    text-shadow: 2px 2px 2px #b69d43;
}

.header h1 {
    font-size: 28px;
    letter-spacing: 5px;
}

.header h4 {
    letter-spacing: 1px;
}

.logo {
    width: auto;
    height: 70px;
}

.hero-text {
    font-weight: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 24px;
    margin-left: auto;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(31, 31, 31);
}

.content-1 {
    padding: 120px 150px 120px;
    background-color: #feda59;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-1-left {
    width: 600px;
}

.content-1 h2 {
    font-size: 36px;
    margin-bottom: 20px;
}


.content-1 p {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 32px;
}

.content-1 button {
    border: none;
    padding: 12px 18px;
    font-weight: 800;
    background-color: #509457;
    color: white;
    border-radius: 10px;
    margin-bottom: 12px;
    font-size: 18px;
}

.content-1 img {
    height: 250px;
    width: auto;
    box-shadow: 2px 2px 12px  rgba(74, 74, 74, 0.675);
}

.content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 150px 150px;
    gap: 40px;
}

.pictures {
    display: flex;
    justify-content: center;
    gap: 72px;
    flex-wrap: wrap;
}

.image-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    gap: 10px;
}

.image-container p {
    text-align: justify;
}
.image-container img {
    flex: 0 0 200px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 5px solid #d4b542;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.355);
}

.container-3 {
    color: white;
    background-color: #509457;
    padding: 100px 400px;
}

.quote {
    font-size: 30px;
}

.author {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

.container-4 {
    margin: 100px 400px;
    padding: 50px 120px;
    background-color: #e2dac4;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.container-4-left {
    margin-right: 100px;
    flex: 3 1 auto;
}

.container-4-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
}

.container-4 button {
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px 18px;
    flex: 1 0 auto;
    font-size: 16px;
    font-weight: bold;
}   

.footer {
    background-color: #c2a22e;
    text-align: center;
    padding: 30px 0px;
    color: white;
}